@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin box-shadow($box-shadow) {
	-moz-box-shadow: $box-shadow;
	-webkit-box-shadow: $box-shadow;
	box-shadow: $box-shadow;
}